/* Main */
.main {
    margin: 5%;
     
    text-align: justify;
    border: 1px solid #ccc;
    font-size: 20px;
    background-color: #cce6ff;
}

/* Section anton */
.anton {
    display: grid;
    grid-template-columns: 50% 50%;
}

/* Image d'Anton */
.image {
    width: 100%;
    padding: 5%;
}

/* Paragraphe anton */
.texte {
    padding: 2.5%;
}

/* Section vrai informations */
.info {
    font-size: 15px;
    text-align: center;
}