*{
    box-sizing: border-box;
}
  
/* Style the body */
body {
    font-family: Arial;
    margin: 0;
}
  
/* Header/logo Title */
.header {
    padding: 30px;
    text-align: center;
    background: #3399ff;
    color: white;
    font-family: 'Playfair Display', serif;
    font-size: 20px;
} 
  
/* Column container */
.row {  
    display: flex;
    flex-wrap: wrap;
}
  
/* Create two unequal columns that sits next to each other */
/* Sidebar/left column */
.side {
    flex: 30%;
    background-color: #ccccff;
    padding: 20px;
}
  
/* Main column */
.main {
    flex: 70%;
    background-color: white;
    padding: 20px;
}
  
/* Fake image, just for this example */
.fakeimg {
    background-color: #aaa;
    width: 100%;
    padding: 20px;
}
  
/* Footer */
.footer {
    text-align: center;
    background-color: #333;
    color: #fff;
    display: grid;
    grid-template-columns: 30% 70%;
}

.footer a {
    text-decoration: none;
    background-color: #333346;
    color: #fff;
    height: inherit;
    display: block;
    padding: 15px;
}

.footer p {
    margin: 0px;
    padding: 15px;
}
  
/* Layout change when screen is 700px or smaller*/
@media screen and (max-width: 700px) {
    .row, .menu {   
        flex-direction: column;
    }

    .menu li {
        width: 100%;
    }

    .menu li a:hover {
        background-color: rgb(70,70,70);
    }

    .submenu li{
        background-color: rgb(60,60,60);
    }
}

/*  */
@media screen and (max-width: 992px) {
    .menu > li {
        
    }
}

/* Layout change when screen is bigger than 700px */
@media screen and (min-width: 701px) {
    .menu > li {
        width: 20%;
    }
}

/* Menu */
.menu ul, ul.menu {
    padding-left: 0px;
}

.menu{

    /* Propriétés du menu */
    user-select: none;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: flex;
    flex-wrap:nowrap;
    position: relative;

    /* Style boutons */
    margin: 0px;
    background-color: #333;

    /* Contenu boutons */
    font-size: 20px;
    text-decoration: none;
    font-family: 'Fira Sans', sans-serif;
}

.menu li {
    list-style: none;
    height: inherit;
    text-align: center;
    /* border: 1px solid red; */
}

.menu li a{
    border: 1px solid black;
    padding: 14px 0px;
    display: block;
    text-decoration: none;
    color: #fff;
}

ul.submenu{
    display: none;
}

.menu a:hover{
    background-color: rgb(60,60,60);
}

.menu li:hover > ul.submenu{
    margin: 0px;
    display: block;
    position: absolute;
    background-color: #333;
    width: inherit;
}