body {
    font-size: 20px;
}

/* Anton */
.side {
    flex: 18%;
    font-size: 15px;
    margin: 1%;
    height: fit-content;
    text-align: center;
}

.about {
    border: 1px solid #cccccc;
}

.about-image {
    /* background-image:url("../images/paul.jpg"); */
    width: 100%;
    padding-top: 100%;
    background-size: contain;
    background-repeat: no-repeat;
}

.image {
    width: 100%;
}

.about-nom {
    font-size: 20px;
    font-weight: bold;
}

.infos {
    padding: 20px;
    display: grid;
    grid-template-rows: 16% 16% 16% 16% 16% 16%;
}

/* Acceuil */
.main {
    flex: 80%;
    padding-top: 20px;  
}

.critiques {
    display: grid;
    grid-template-columns: 33% 33% 33%;
}

.resto {
    margin-right: 3%;
}

.resto-visuel {
    display: grid;
    grid-template-columns: 75% 25%;
}

.resto-image {
    width: 100%;
    padding-top: 56.25%;
    background-size: contain;
    background-repeat: no-repeat;
}

.resto-logo {
    width: 100%;
    padding-top: 56.25%;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: #999;
    background-position: center;
    border: 1px solid #000;
}

.intertitre {
    font-size: 25px;
    font-weight: bold;
}

.news {
    display: grid;
    grid-template-columns: 50% 50%;
    margin: 2.5%;
    text-align: justify;
}

.contenantVideo {
    margin: 5%;
    padding: 5%;
    background-color: #3399ff;
    border: 1px #ccc solid;
    text-align: center;
}

.video {
    width: 400px;
    height: 225px;
}

@media screen and (max-width: 700px) {
    body {
        font-size: 10px;
    }

    .intertitre {
        font-size: 15px;
    }
    
    .news {
        display: none;
    }

    .about {
        display: grid;
        grid-template-columns: 40% 60%;
    }

    .infos {
        font-size: 10px;
    }

    .about-nom {
        font-size: 15px;
    }
}

@media screen and (max-width: 992px) {

}

@media screen and (min-width: 701px) {

}