.about {
    flex: 20%;
    background-color: #cce6ff;
    font-size: 20px;
    text-align: justify;
}

.image {
    background-image:url("../images/waffle.jpg");
    width: 100px;
}

.infos {
    text-align: center;
    padding: 20px;
}

/* Main */
.main {
    flex: 80%;
    background-color: white;
    padding: 20px;
}

.restos {

}