/* Users reviews */
.reviews {
    flex: 35%;
    background-color: #cce6ff;
    padding: 20px;
    font-size: 20px;
    text-align: justify;
}

.reviews-title {
    display: grid;
    grid-template-columns: 35% 65%;
    text-align: left;
    /* border: 1px solid red; */
    font-size: 16.5px;
}

.reviews-plat {
    text-align: right;
    padding: 0px;
    /* border: 1px solid blue; */
}

.reviews > hr {
    display: block; 
    height: 1px;
    border: 0; 
    border-top: 1px solid #000;
    margin: 1em 0;
    padding: 0;
}

.user {
    border: 1px solid #000;
    background-color: #3399ff;
    padding: 3px;
}

.user-icon{
    width: 40px;
    height: 40px;
    background-size: cover;
    border-radius: 20px;
}

.username {
    padding: 0px;
}

#waffle {
    background-image:url("../images/waffle.jpg");
}

#cupcake {
    background-image:url("../images/cupcake.jpg");
}

/* Main */
.main {
    flex: 65%;
    background-color: white;
    padding: 20px;
}

.resto {
    display: grid;
    grid-template-columns: 40% auto;
}

.identification {
    padding: 5%;
    margin-right: 5px;
    height: inherit;
    border: 1px solid #ccc;
}

.identification h2 {
    margin-top: 0px;
}

.identification a {
    text-decoration: none;
    color: #000;
}

.image {
    width: 100%;
    padding-top: 56.5%;
    background-size: contain;
    background-repeat: no-repeat;
    min-height: inherit;
}

.identification > hr {
    display: block; 
    height: 1px;
    border: 0; 
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/* .identification h2 {
    padding: 3%;
} */

.element {
    display: grid;
    grid-template-columns: 10% 90%;
    /* padding: 3%; */
}

.icon {
    width: 20px;
    height: 20px;
    background-size: cover;
    border-radius: 10px;
}


#icon-phone {
    background-image:url("../images/phone.png");
}

#icon-location {
    background-image:url("../images/location.png");
}

#icon-website {
    background-image:url("../images/website.png");
}

@media screen and (min-width: 701px) {
    .resto {
        grid-template-columns: 30% auto;
        font-size: 15px;
    }

    .element {
        grid-template-columns: 15% 90%;
    }
}

@media screen and (max-width: 700px) {

}

@media screen and (max-width: 992px) {

}

@media screen and (min-width: 701px) {

}