/* Users reviews */
.reviews {
    flex: 35%;
    background-color: #cce6ff;
    padding: 20px;
    font-size: 20px;
    text-align: justify;
}

.reviews-title {
    display: grid;
    grid-template-columns: 35% 65%;
    text-align: left;
    /* border: 1px solid red; */
    font-size: 16.5px;
}

.reviews-plat {
    text-align: right;
    padding: 0px;
    /* border: 1px solid blue; */
}

.reviews > hr {
    display: block; 
    height: 1px;
    border: 0; 
    border-top: 1px solid #000;
    margin: 1em 0;
    padding: 0;
}

.user {
    border: 1px solid #000;
    background-color: #3399ff;
    padding: 3px;
}

.user-icon{
    width: 40px;
    height: 40px;
    background-size: cover;
    border-radius: 20px;
}

.username {
    padding: 0px;
}

#waffle {
    background-image:url("../images/waffle.jpg");
}

#cupcake {
    background-image:url("../images/cupcake.jpg");
}

/* Main */
.main {
    flex: 65%;
    background-color: white;
    padding: 20px;
}

.resto {
    display: grid;
    grid-template-columns: 60% 40%;
}

.identification {
    padding: 10px;
    margin-right: 5px;
    border: 1px solid #ccc;
}

.identification h2 {
    margin-top: 0px;
}

.identification a {
    text-decoration: none;
    color: #000;
}

.image {
    width: 100%;
    background-size: contain;
    /* background-repeat: no-repeat; */
}

.identification > hr {
    display: block; 
    height: 1px;
    border: 0; 
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

.element {
    display: grid;
    grid-template-columns: 10% 90%;
}

.icon {
    width: 20px;
    height: 20px;
    background-size: cover;
    border-radius: 10px;
}


#icon-phone {
    background-image:url("../images/phone.png");
}

#icon-location {
    background-image:url("../images/location.png");
}

#icon-website {
    background-image:url("../images/website.png");
}